@use '../base/_utilities'
@use '../base/_variables'
@use '../base/_typography'

.container 
    margin-top: 80px
    text-align: center

    h2
        margin: 100px 0 40px 0

    h3
        margin-bottom: 10px

    .input-task, .edit-input 
        @include utilities.input-text($pad-l: 10px)

    .edit-input 
        @include utilities.input-style(80%)
        margin: 0 auto
       
    .input-task
        @include utilities.input-style(100%)

    &-project 
        .project 
            padding: 25px 15px 0px 15px
            width: 100%
            max-width: 510px
            border: 1px solid variables.$secondary-dark-color
            background-color: variables.$bg-dark-color
            border-radius: 32px
            margin: 0 auto

            &-image 
                width: 90%
                max-width: 450px
                height: 250px
                border: 1px solid variables.$primary-color
                border-radius: 18px
                margin: 0 auto

            &-infos 
                display: flex
                flex-direction: column
                align-items: center

                .box , .top-box 
                    padding: 30px 0
                    border-bottom: 1px solid variables.$primary-color
                    width: 90%
                
                .box 
                    display: flex 
                    flex-direction: column

                    &:last-of-type
                        margin-bottom: 20px

                    &-links
                        display: flex
                        align-items: center
                        flex-direction: column
                        gap: 10px

                        .link 
                            display: flex
                            align-items: center
                            gap: 15px

                            a 
                                text-decoration: underline
                    
                    &-description 
                        margin-top: 30px

                        p 
                            color: variables.$secondary-light-color

                    .date 
                        margin-top: 10px
                        color: variables.$secondary-light-color

                .top-box
                    display: flex
                    justify-content: center
                    gap: 100px

                    .tasks 
                        color: variables.$secondary-light-color
                        font-size: typography.$big-font-size
                    
                    &-status
                        .status 
                            font-size: typography.$small-font-size
                            @extend %status-color

    &-todo 
        .todo
            border-radius: 32px
            width: 100%
            max-width: 490px
            margin: 0 auto
            border: 1px solid variables.$secondary-dark-color
            background-color: variables.$bg-dark-color
            height: 600px
            display: flex
            flex-direction: column
            padding: 25px 15px

            .tasks-container
                flex: 1
                overflow: hidden
            
                .done-tasks 
                
                    &:before
                        display: none

                    .task
                        &:first-of-type
                            position: relative

                            &:before 
                                @include utilities.todo-list-before-style(1px, variables.$secondary-color)

                        &-name 
                            &::placeholder  
                                color: variables.$secondary-color 

                .tasks-todo, .tasks-done
                    @extend %todo-task-style
                    height: 250px
                    overflow: auto

                    &::-webkit-scrollbar 
                        display: none
                                            
                .tasks-todo 
                    position: relative

                    &:before
                        @include utilities.todo-list-before-style(4px)

                    .task
                        &:last-of-type
                            margin-bottom: 30px
                    .task-name 
                        @include utilities.input-text($align: center)
                        
                        &::placeholder
                            color: variables.$primary-color

                .tasks-done
                    position: relative

                    &:before 
                        @include utilities.todo-list-before-style($color: variables.$secondary-color)
                        
                    .task-name 
                        &::placeholder
                            color: variables.$secondary-color
                
            .entry 
                position: relative
                padding-top: 20px

                &:before , &:after
                    content: ''
                    position: absolute
                    width: 40%
                    height: 2px
                    top: 0

                &:before 
                    left: 2.5%
                    background-color: variables.$secondary-light-color

                &:after
                    right: 2.5%
                    background-color: variables.$primary-color
                    
                .box 
                    @extend %center-elements
                    gap: 10px
     
                .text 
                    margin-top: 20px
                    padding-bottom: 20px

                    &:after
                        content: ''
                        position: absolute
                        height: 4px
                        bottom: 0
                        left: 2.5%
                        width: 95%
                        background-color: variables.$secondary-light-color 

    &-edit 
        width: 100%
        max-width: 780px
        margin: 40px auto
        background-color: variables.$bg-dark-color
        grid-column: 1 / 3
        border: 1px solid variables.$secondary-dark-color
        border-radius: 32px
        padding: 20px
        display: grid 
        grid-template-columns: repeat(2, 50%)

        .form-title 
            grid-column: 1/3
            margin: 10px 0 40px 0
        
        .left-box 
            position: relative

            &:after 
                content: ''
                position: absolute
                width: 1px
                height: 100%
                background-color: variables.$secondary-color
                right: -1px
                top: 0

            .box 
                flex-direction: column
                margin: 15px auto
                @extend %center-elements

                label 
                    margin-bottom: 15px

                .date-input 
                    padding-left: 10px

                
        .right-box 
            .box
                display: flex
                flex-direction: column

                &:last-of-type
                    label 
                        margin-top: 40px

                label 
                    margin-bottom: 10px

        .danger-area 
            @extend %center-elements
            grid-column: 1/3
            flex-direction: column
            margin-top: 20px
            border-top: 1px solid variables.$danger-color
            padding-top: 30px

            p 
                line-height: 150%
                margin: 20px 0