@use './_variables'

.icon 
    width: 32px
    height: 32px

    &.primary 
        color: variables.$light-green
    
    &.light
        color: variables.$secondary-light-color

    &-dark 
        color: variables.$secondary-color