@use './_variables'
// Mixins

@mixin center-elements
    display: flex
    justify-content: center
    align-items: center
    
@mixin form-inputs-style
    height: 40px
    border: 1px solid variables.$primary-color
    border-radius: 12px
    background-color: variables.$bg-dark-color
    color: variables.$text-color
